@import "../../../style/variables";
@import "../../../style/abstracts";

.column {
  min-width: 280px;
  max-width: 280px;
  border-radius: 24px;
  background-color: $secondary-bg-color;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  transition: box-shadow 0.5s;
  padding: 10px;
  max-height: calc(100vh - 270px);
  min-height: 115px;
  overflow: scroll;

  &:hover {
    box-shadow: rgb(0 0 0 / 16%) 0 10px 36px 0, rgb(0 0 0 / 6%) 0 0 0 1px;
  }

  .tasks {
    @include flex(column, center, stretch);

    gap: 10px;
    margin-bottom: 10px;
  }

  .container {
    @include flex(row, space-between, center);

    margin-bottom: 10px;
    margin-top: 5px;

    .title {
      width: 230px;
      font-size: 20px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .image {
      width: 20px;
      box-sizing: content-box;
      border-radius: 50%;
      padding: 3px;
      transition: all 0.5s;
      cursor: pointer;
      filter: saturate(100%) invert(47%) sepia(14%) saturate(2873%) hue-rotate(168deg) brightness(87%);

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
