@import "../../../style/variables";
@import "../../../style/abstracts";

.wrapper {
  background: $primary-bg-color;

  .main {
    width: 1210px;
    min-height: calc(100vh - 145px);
    margin: 0 auto;

    @media (max-width: 1280px) {
      width: 900px;
    }

    @media (max-width: 950px) {
      width: 590px;
    }

    @media (max-width: 650px) {
      width: 280px;
    }

    h3 {
      font-size: 30px;
      padding-top: 20px;
    }

    .boards {
      @include flex(row, flex-start, flex-start);

      flex-wrap: wrap;
      gap: 30px;
      padding: 20px 0;

      .newBoard {
        width: 280px;
        padding: 10px;
        height: 100px;
        border-radius: 15px;
        box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
        transition: box-shadow 0.5s;
        cursor: pointer;
        padding: 5px;
        background-color: white;

        &:hover {
          box-shadow: rgb(0 0 0 / 16%) 0 10px 36px 0, rgb(0 0 0 / 6%) 0 0 0 1px;
        }

        .dashed {
          border: 3px dashed gainsboro;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          border-radius: 13px;
          padding: 10px 0 15px;

          .title {
            font-size: 18px;
            color: gainsboro;
            padding: 0;
          }

          .add {
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 3px dashed gainsboro;

            svg {
              color: gainsboro;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
