@import "../../../../../style/variables";

.container {
  position: relative;

  .error {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 3px;
    color: red;
    background-color: #ff000051;
    font-size: 8px;
    top: -13px;
    right: 5px;
    padding: 0 6px;
    border-radius: 20px;
  }
}

.label {
  position: relative;
  padding: 7px;
  box-shadow: 0 0 2px $pale-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  color: $pale-text-color;
  width: 240px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px $contrast-color;
    color: $contrast-color !important;
  }

  svg {
    position: absolute;
    left: 5px;
  }

  .placeholder {
    position: absolute;
    left: 25px;
    transition: 0.4s;
    font-weight: 600;
    z-index: 10;

    &.focus {
      font-size: 12px;
      transform: translate(-10px, -18px);
      background-color: $secondary-bg-color;
      font-weight: 700;
    }
  }

  .input {
    outline: none;
    border: none;
    width: 90%;
    left: 8px;
    font-size: 16px;
    font-weight: 600;
    color: $pale-text-color;
    position: relative;
    cursor: pointer;
  }
}
