.background {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../assets/images/background-form.jpg);
  background-size: cover;
  opacity: 0;
  transition: 1s;

  .loader {
    transition: .7s;
    position: absolute;
    z-index: 100;
    transform: scale(0.7);
    animation: slide 1s;
  }

  @keyframes slide {
    from {
      transform: scale(0.01);
    }
  
    to {
      transform: scale(0.7);
    }
  }

  &.active {
    opacity: 1;
  }

  .form {
    background-color: #FFFFFF;
    padding: 30px 30px 20px;
    border-radius: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: scale(0.01) translate(-500px, -500px);
    transition: .3s;

    &.active {
      transform: scale(1.2);
    }

    &.switcherUp {
      transform: scale(0.001) translateX(1200px);
    }

    &.switcherDown {
      transform: scale(0.001) translateX(-1200px);
    }

    .container-btn {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      
      .btn {
        font-size: 20px;
        width: 100px;
        padding: 3px 0;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 0 3px #04aae6;
        font-weight: 700;
        color: #04aae6;
        transition: .6s;

        &:disabled {
          background-color: #cacaca73 !important;
          transform: scale(1) !important;
          box-shadow: none;
          color: #FFFFFF;
          cursor: no-drop;
        }

        &:hover {
          background-color: #04aae6;
          color: #FFFFFF;
          box-shadow: none;
          transform: scale(1.1);
        }
      }
    }
  }
}