@import "https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  font-family: "Fauna One", serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  outline: none;
  appearance: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
