@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Sriracha&display=swap";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Sriracha, cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  outline: none;
  appearance: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: $light-text-color;

  @media (max-width: 1020px) {
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $dark-bg-color;
  border-radius: 10px;
  box-shadow: inset 1px 1px 10px $light-text-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $dark-bg-color;
}
