$contrast-color: #1976d2;
$primary-bg-color: linear-gradient(180deg, rgb(237 234 255 / 100%) 0%, rgb(255 255 255 / 100%) 71%);
$secondary-bg-color: #fff;
$dark-bg-color: #3c3e44;
$light-text-color: #fff;
$pale-text-color: #5d616c;
$dark-text-color: #000;
$hover-color: #dbdce068;
$gray-color: rgb(212 213 213);
$transparent-bg-color: #50494960;
$red-color: #da5454;
$pale-red-color: #ff000051;
$light-blue: #add8e6;
