.background {
  width: 100%;
  position: relative;
  height: calc(100vh - 150px);
  background-color: white;
  background-image: url(../../../assets/images/light-edit.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  animation: .7s opacity;

  &.bgExit {
    background-image: url(../../../assets/images/dark-edit.jpg);
    animation: .7s opacity;
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .deleteUser {
    position: absolute;
    right: -160px;
    top: -0px;
    background-color: crimson;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    line-height: 30px;
    animation: 1s linear 1s infinite alternate delete-btn;
  }

  @keyframes delete-btn {
    0% {
      box-shadow: 0 0 1px crimson;
    }

    100% {
      box-shadow: 0 0 20px 10px crimson;
    }
  }

  .container {
    margin-top: 40px;
    min-width: 320px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;

    .id {
      margin-top: 20px;
      font-size: 12px;
      color: #0e0233;
      padding: 3px 4px;
      box-shadow: 0 0 2px #7c7b7b57;
      border-radius: 5px;

      span {
        color: #7c7b7b57
      }
    }

    .profile {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-image: url(../../../assets/icons/avatar-default.png);
        background-size: cover;
        background-position: center;
        border: 5px solid #e7e7e7;
      }

      .name {
        position: relative;
        margin-left: 20px;
        font-size: 28px;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 2px 6px -4px rgba(105, 105, 105, 0.637);
        padding: 0 7px;
        border-radius: 7px;
        
        span {
          font-size: 20px;
          font-weight: 800;
          color: #7b7a7aa9;
          margin-right: 10px;
          padding-bottom: 1.5px;
        }
      }
    }
  }

  .form {
    margin-top: 15px;
    padding: 5px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    
    .fieldset {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      border-radius: 15px;
      border: none;
      box-shadow: 0 0 3px #716e6ead;
      transition: .3s;

      &:hover {
        box-shadow: 0 0 3px #1ea7fcad;
      }

      .legend {
        font-size: 24px;
        padding: 0px 7px;
        font-weight: 800;
        background: #FFFFFF;
        margin-left: 7px;
        text-shadow: 0 0 1px black;
        color: #f4f9ff;
        border-radius: 5px;
        box-shadow: 0 0 1px dimgray;
      }
    }
  }

  .updateBtn {
    margin-top: 10px;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    height: 40px;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px #016bdc;
    color: #016bdc;
    animation: 2s linear 3s infinite alternate update-btn;
  }

  @keyframes update-btn {
    0% {
      background-color: #016bdc;
      color: #FFFFFF;
    }

    100% {
      background-color: #FFFFFF;
      box-shadow: 0 0 4px #016bdc;
      color: #016bdc;
    }
  }
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 10000;
  background-color: #5d5b5b37;
  animation: 1s loader-edit;
}

@keyframes loader-edit {
  0% {
    background-color: transparent;
    transform: scale(0.1);
  }

  50% {
    background-color: transparent;
    transform: scale(1);
  }

  100% {
    background-color: #5d5b5b37;
  }
}